@import url(https://fonts.googleapis.com/css?family=Inter:100,200,300,400,500,600,700,800,900&display=swap);





.btn {
  border-width: 2px;
}
body {
  font-family: Jost;
}
.display-1 {
  font-family: 'Inter', sans-serif;
  font-size: 4.6rem;
  line-height: 1.1;
}
.display-1 > .mbr-iconfont {
  font-size: 5.75rem;
}
.display-2 {
  font-family: 'Inter', sans-serif;
  font-size: 3rem;
  line-height: 1.1;
}
.display-2 > .mbr-iconfont {
  font-size: 3.75rem;
}
.display-4 {
  font-family: 'Inter', sans-serif;
  font-size: 1.1rem;
  line-height: 1.5;
}
.display-4 > .mbr-iconfont {
  font-size: 1.375rem;
}
.display-5 {
  font-family: 'Inter', sans-serif;
  font-size: 2rem;
  line-height: 1.5;
}
.display-5 > .mbr-iconfont {
  font-size: 2.5rem;
}
.display-7 {
  font-family: 'Inter', sans-serif;
  font-size: 1.2rem;
  line-height: 1.5;
}
.display-7 > .mbr-iconfont {
  font-size: 1.5rem;
}
/* ---- Fluid typography for mobile devices ---- */
/* 1.4 - font scale ratio ( bootstrap == 1.42857 ) */
/* 100vw - current viewport width */
/* (48 - 20)  48 == 48rem == 768px, 20 == 20rem == 320px(minimal supported viewport) */
/* 0.65 - min scale variable, may vary */
@media (max-width: 992px) {
  .display-1 {
    font-size: 3.68rem;
  }
}
@media (max-width: 768px) {
  .display-1 {
    font-size: 3.22rem;
    font-size: calc( 2.26rem + (4.6 - 2.26) * ((100vw - 20rem) / (48 - 20)));
    line-height: calc( 1.1 * (2.26rem + (4.6 - 2.26) * ((100vw - 20rem) / (48 - 20))));
  }
  .display-2 {
    font-size: 2.4rem;
    font-size: calc( 1.7rem + (3 - 1.7) * ((100vw - 20rem) / (48 - 20)));
    line-height: calc( 1.3 * (1.7rem + (3 - 1.7) * ((100vw - 20rem) / (48 - 20))));
  }
  .display-4 {
    font-size: 0.88rem;
    font-size: calc( 1.0350000000000001rem + (1.1 - 1.0350000000000001) * ((100vw - 20rem) / (48 - 20)));
    line-height: calc( 1.4 * (1.0350000000000001rem + (1.1 - 1.0350000000000001) * ((100vw - 20rem) / (48 - 20))));
  }
  .display-5 {
    font-size: 1.6rem;
    font-size: calc( 1.35rem + (2 - 1.35) * ((100vw - 20rem) / (48 - 20)));
    line-height: calc( 1.4 * (1.35rem + (2 - 1.35) * ((100vw - 20rem) / (48 - 20))));
  }
  .display-7 {
    font-size: 0.96rem;
    font-size: calc( 1.07rem + (1.2 - 1.07) * ((100vw - 20rem) / (48 - 20)));
    line-height: calc( 1.4 * (1.07rem + (1.2 - 1.07) * ((100vw - 20rem) / (48 - 20))));
  }
}
/* Buttons */
.btn {
  padding: 0.6rem 1.2rem;
  border-radius: 4px;
}
.btn-sm {
  padding: 0.6rem 1.2rem;
  border-radius: 4px;
}
.btn-md {
  padding: 0.6rem 1.2rem;
  border-radius: 4px;
}
.btn-lg {
  padding: 1rem 2.6rem;
  border-radius: 4px;
}
.bg-primary {
  background-color: #6592e6 !important;
}
.bg-success {
  background-color: #40b0bf !important;
}
.bg-info {
  background-color: #47b5ed !important;
}
.bg-warning {
  background-color: #ffe161 !important;
}
.bg-danger {
  background-color: #ff9966 !important;
}
.btn-primary,
.btn-primary:active {
  background-color: #6592e6 !important;
  border-color: #6592e6 !important;
  color: #ffffff !important;
  box-shadow: 0 2px 2px 0 rgba(0, 0, 0, 0.2);
}
.btn-primary:hover,
.btn-primary:focus,
.btn-primary.focus,
.btn-primary.active {
  color: #ffffff !important;
  background-color: #2260d2 !important;
  border-color: #2260d2 !important;
  box-shadow: 0 2px 5px 0 rgba(0, 0, 0, 0.2);
}
.btn-primary.disabled,
.btn-primary:disabled {
  color: #ffffff !important;
  background-color: #2260d2 !important;
  border-color: #2260d2 !important;
}
.btn-secondary,
.btn-secondary:active {
  background-color: #ff6666 !important;
  border-color: #ff6666 !important;
  color: #ffffff !important;
  box-shadow: 0 2px 2px 0 rgba(0, 0, 0, 0.2);
}
.btn-secondary:hover,
.btn-secondary:focus,
.btn-secondary.focus,
.btn-secondary.active {
  color: #ffffff !important;
  background-color: #ff0f0f !important;
  border-color: #ff0f0f !important;
  box-shadow: 0 2px 5px 0 rgba(0, 0, 0, 0.2);
}
.btn-secondary.disabled,
.btn-secondary:disabled {
  color: #ffffff !important;
  background-color: #ff0f0f !important;
  border-color: #ff0f0f !important;
}
.btn-info,
.btn-info:active {
  background-color: #47b5ed !important;
  border-color: #47b5ed !important;
  color: #ffffff !important;
  box-shadow: 0 2px 2px 0 rgba(0, 0, 0, 0.2);
}
.btn-info:hover,
.btn-info:focus,
.btn-info.focus,
.btn-info.active {
  color: #ffffff !important;
  background-color: #148cca !important;
  border-color: #148cca !important;
  box-shadow: 0 2px 5px 0 rgba(0, 0, 0, 0.2);
}
.btn-info.disabled,
.btn-info:disabled {
  color: #ffffff !important;
  background-color: #148cca !important;
  border-color: #148cca !important;
}
.btn-success,
.btn-success:active {
  background-color: #40b0bf !important;
  border-color: #40b0bf !important;
  color: #ffffff !important;
  box-shadow: 0 2px 2px 0 rgba(0, 0, 0, 0.2);
}
.btn-success:hover,
.btn-success:focus,
.btn-success.focus,
.btn-success.active {
  color: #ffffff !important;
  background-color: #2a747e !important;
  border-color: #2a747e !important;
  box-shadow: 0 2px 5px 0 rgba(0, 0, 0, 0.2);
}
.btn-success.disabled,
.btn-success:disabled {
  color: #ffffff !important;
  background-color: #2a747e !important;
  border-color: #2a747e !important;
}
.btn-warning,
.btn-warning:active {
  background-color: #ffe161 !important;
  border-color: #ffe161 !important;
  color: #614f00 !important;
  box-shadow: 0 2px 2px 0 rgba(0, 0, 0, 0.2);
}
.btn-warning:hover,
.btn-warning:focus,
.btn-warning.focus,
.btn-warning.active {
  color: #0a0800 !important;
  background-color: #ffd10a !important;
  border-color: #ffd10a !important;
  box-shadow: 0 2px 5px 0 rgba(0, 0, 0, 0.2);
}
.btn-warning.disabled,
.btn-warning:disabled {
  color: #614f00 !important;
  background-color: #ffd10a !important;
  border-color: #ffd10a !important;
}
.btn-danger,
.btn-danger:active {
  background-color: #ff9966 !important;
  border-color: #ff9966 !important;
  color: #ffffff !important;
  box-shadow: 0 2px 2px 0 rgba(0, 0, 0, 0.2);
}
.btn-danger:hover,
.btn-danger:focus,
.btn-danger.focus,
.btn-danger.active {
  color: #ffffff !important;
  background-color: #ff5f0f !important;
  border-color: #ff5f0f !important;
  box-shadow: 0 2px 5px 0 rgba(0, 0, 0, 0.2);
}
.btn-danger.disabled,
.btn-danger:disabled {
  color: #ffffff !important;
  background-color: #ff5f0f !important;
  border-color: #ff5f0f !important;
}
.btn-white,
.btn-white:active {
  background-color: #fafafa !important;
  border-color: #fafafa !important;
  color: #7a7a7a !important;
  box-shadow: 0 2px 2px 0 rgba(0, 0, 0, 0.2);
}
.btn-white:hover,
.btn-white:focus,
.btn-white.focus,
.btn-white.active {
  color: #4f4f4f !important;
  background-color: #cfcfcf !important;
  border-color: #cfcfcf !important;
  box-shadow: 0 2px 5px 0 rgba(0, 0, 0, 0.2);
}
.btn-white.disabled,
.btn-white:disabled {
  color: #7a7a7a !important;
  background-color: #cfcfcf !important;
  border-color: #cfcfcf !important;
}
.btn-black,
.btn-black:active {
  background-color: #232323 !important;
  border-color: #232323 !important;
  color: #ffffff !important;
  box-shadow: 0 2px 2px 0 rgba(0, 0, 0, 0.2);
}
.btn-black:hover,
.btn-black:focus,
.btn-black.focus,
.btn-black.active {
  color: #ffffff !important;
  background-color: #000000 !important;
  border-color: #000000 !important;
  box-shadow: 0 2px 5px 0 rgba(0, 0, 0, 0.2);
}
.btn-black.disabled,
.btn-black:disabled {
  color: #ffffff !important;
  background-color: #000000 !important;
  border-color: #000000 !important;
}
.btn-primary-outline,
.btn-primary-outline:active {
  background-color: transparent !important;
  border-color: #6592e6;
  color: #6592e6;
}
.btn-primary-outline:hover,
.btn-primary-outline:focus,
.btn-primary-outline.focus,
.btn-primary-outline.active {
  color: #2260d2 !important;
  background-color: transparent!important;
  border-color: #2260d2 !important;
  box-shadow: none!important;
}
.btn-primary-outline.disabled,
.btn-primary-outline:disabled {
  color: #ffffff !important;
  background-color: #6592e6 !important;
  border-color: #6592e6 !important;
}
.btn-secondary-outline,
.btn-secondary-outline:active {
  background-color: transparent !important;
  border-color: #ff6666;
  color: #ff6666;
}
.btn-secondary-outline:hover,
.btn-secondary-outline:focus,
.btn-secondary-outline.focus,
.btn-secondary-outline.active {
  color: #ff0f0f !important;
  background-color: transparent!important;
  border-color: #ff0f0f !important;
  box-shadow: none!important;
}
.btn-secondary-outline.disabled,
.btn-secondary-outline:disabled {
  color: #ffffff !important;
  background-color: #ff6666 !important;
  border-color: #ff6666 !important;
}
.btn-info-outline,
.btn-info-outline:active {
  background-color: transparent !important;
  border-color: #47b5ed;
  color: #47b5ed;
}
.btn-info-outline:hover,
.btn-info-outline:focus,
.btn-info-outline.focus,
.btn-info-outline.active {
  color: #148cca !important;
  background-color: transparent!important;
  border-color: #148cca !important;
  box-shadow: none!important;
}
.btn-info-outline.disabled,
.btn-info-outline:disabled {
  color: #ffffff !important;
  background-color: #47b5ed !important;
  border-color: #47b5ed !important;
}
.btn-success-outline,
.btn-success-outline:active {
  background-color: transparent !important;
  border-color: #40b0bf;
  color: #40b0bf;
}
.btn-success-outline:hover,
.btn-success-outline:focus,
.btn-success-outline.focus,
.btn-success-outline.active {
  color: #2a747e !important;
  background-color: transparent!important;
  border-color: #2a747e !important;
  box-shadow: none!important;
}
.btn-success-outline.disabled,
.btn-success-outline:disabled {
  color: #ffffff !important;
  background-color: #40b0bf !important;
  border-color: #40b0bf !important;
}
.btn-warning-outline,
.btn-warning-outline:active {
  background-color: transparent !important;
  border-color: #ffe161;
  color: #ffe161;
}
.btn-warning-outline:hover,
.btn-warning-outline:focus,
.btn-warning-outline.focus,
.btn-warning-outline.active {
  color: #ffd10a !important;
  background-color: transparent!important;
  border-color: #ffd10a !important;
  box-shadow: none!important;
}
.btn-warning-outline.disabled,
.btn-warning-outline:disabled {
  color: #614f00 !important;
  background-color: #ffe161 !important;
  border-color: #ffe161 !important;
}
.btn-danger-outline,
.btn-danger-outline:active {
  background-color: transparent !important;
  border-color: #ff9966;
  color: #ff9966;
}
.btn-danger-outline:hover,
.btn-danger-outline:focus,
.btn-danger-outline.focus,
.btn-danger-outline.active {
  color: #ff5f0f !important;
  background-color: transparent!important;
  border-color: #ff5f0f !important;
  box-shadow: none!important;
}
.btn-danger-outline.disabled,
.btn-danger-outline:disabled {
  color: #ffffff !important;
  background-color: #ff9966 !important;
  border-color: #ff9966 !important;
}
.btn-black-outline,
.btn-black-outline:active {
  background-color: transparent !important;
  border-color: #232323;
  color: #232323;
}
.btn-black-outline:hover,
.btn-black-outline:focus,
.btn-black-outline.focus,
.btn-black-outline.active {
  color: #000000 !important;
  background-color: transparent!important;
  border-color: #000000 !important;
  box-shadow: none!important;
}
.btn-black-outline.disabled,
.btn-black-outline:disabled {
  color: #ffffff !important;
  background-color: #232323 !important;
  border-color: #232323 !important;
}
.btn-white-outline,
.btn-white-outline:active {
  background-color: transparent !important;
  border-color: #fafafa;
  color: #fafafa;
}
.btn-white-outline:hover,
.btn-white-outline:focus,
.btn-white-outline.focus,
.btn-white-outline.active {
  color: #cfcfcf !important;
  background-color: transparent!important;
  border-color: #cfcfcf !important;
  box-shadow: none!important;
}
.btn-white-outline.disabled,
.btn-white-outline:disabled {
  color: #7a7a7a !important;
  background-color: #fafafa !important;
  border-color: #fafafa !important;
}
.text-primary {
  color: #6592e6 !important;
}
.text-secondary {
  color: #ff6666 !important;
}
.text-success {
  color: #40b0bf !important;
}
.text-info {
  color: #47b5ed !important;
}
.text-warning {
  color: #ffe161 !important;
}
.text-danger {
  color: #ff9966 !important;
}
.text-white {
  color: #fafafa !important;
}
.text-black {
  color: #232323 !important;
}
a.text-primary:hover,
a.text-primary:focus,
a.text-primary.active {
  color: #205ac5 !important;
}
a.text-secondary:hover,
a.text-secondary:focus,
a.text-secondary.active {
  color: #ff0000 !important;
}
a.text-success:hover,
a.text-success:focus,
a.text-success.active {
  color: #266a73 !important;
}
a.text-info:hover,
a.text-info:focus,
a.text-info.active {
  color: #1283bc !important;
}
a.text-warning:hover,
a.text-warning:focus,
a.text-warning.active {
  color: #facb00 !important;
}
a.text-danger:hover,
a.text-danger:focus,
a.text-danger.active {
  color: #ff5500 !important;
}
a.text-white:hover,
a.text-white:focus,
a.text-white.active {
  color: #c7c7c7 !important;
}
a.text-black:hover,
a.text-black:focus,
a.text-black.active {
  color: #000000 !important;
}
a[class*="text-"]:not(.nav-link):not(.dropdown-item):not([role]) {
  position: relative;
  background-image: transparent;
  background-size: 10000px 2px;
  background-repeat: no-repeat;
  background-position: 0px 1.2em;
  background-position: -10000px 1.2em;
}
a[class*="text-"]:not(.nav-link):not(.dropdown-item):not([role]):hover {
  transition: background-position 2s ease-in-out;
  background-image: linear-gradient(currentColor 50%, currentColor 50%);
  background-position: 0px 1.2em;
}
.nav-tabs .nav-link.active {
  color: #6592e6;
}
.nav-tabs .nav-link:not(.active) {
  color: #232323;
}
.alert-success {
  background-color: #70c770;
}
.alert-info {
  background-color: #47b5ed;
}
.alert-warning {
  background-color: #ffe161;
}
.alert-danger {
  background-color: #ff9966;
}
.mbr-gallery-filter li.active .btn {
  background-color: #6592e6;
  border-color: #6592e6;
  color: #ffffff;
}
.mbr-gallery-filter li.active .btn:focus {
  box-shadow: none;
}
a,
a:hover {
  color: #6592e6;
}
.mbr-plan-header.bg-primary .mbr-plan-subtitle,
.mbr-plan-header.bg-primary .mbr-plan-price-desc {
  color: #ffffff;
}
.mbr-plan-header.bg-success .mbr-plan-subtitle,
.mbr-plan-header.bg-success .mbr-plan-price-desc {
  color: #a0d8df;
}
.mbr-plan-header.bg-info .mbr-plan-subtitle,
.mbr-plan-header.bg-info .mbr-plan-price-desc {
  color: #ffffff;
}
.mbr-plan-header.bg-warning .mbr-plan-subtitle,
.mbr-plan-header.bg-warning .mbr-plan-price-desc {
  color: #ffffff;
}
.mbr-plan-header.bg-danger .mbr-plan-subtitle,
.mbr-plan-header.bg-danger .mbr-plan-price-desc {
  color: #ffffff;
}
/* Scroll to top button*/
.scrollToTop_wraper {
  display: none;
}
.form-control {
  font-family: 'Inter', sans-serif;
  font-size: 1.1rem;
  line-height: 1.5;
  font-weight: 400;
}
.form-control > .mbr-iconfont {
  font-size: 1.375rem;
}
.form-control:hover,
.form-control:focus {
  box-shadow: rgba(0, 0, 0, 0.07) 0px 1px 1px 0px, rgba(0, 0, 0, 0.07) 0px 1px 3px 0px, rgba(0, 0, 0, 0.03) 0px 0px 0px 1px;
  border-color: #6592e6 !important;
}
.form-control:-webkit-input-placeholder {
  font-family: 'Inter', sans-serif;
  font-size: 1.1rem;
  line-height: 1.5;
  font-weight: 400;
}
.form-control:-webkit-input-placeholder > .mbr-iconfont {
  font-size: 1.375rem;
}
blockquote {
  border-color: #6592e6;
}
/* Forms */
.jq-selectbox li:hover,
.jq-selectbox li.selected {
  background-color: #6592e6;
  color: #ffffff;
}
.jq-number__spin {
  transition: 0.25s ease;
}
.jq-number__spin:hover {
  border-color: #6592e6;
}
.jq-selectbox .jq-selectbox__trigger-arrow,
.jq-number__spin.minus:after,
.jq-number__spin.plus:after {
  transition: 0.4s;
  border-top-color: #353535;
  border-bottom-color: #353535;
}
.jq-selectbox:hover .jq-selectbox__trigger-arrow,
.jq-number__spin.minus:hover:after,
.jq-number__spin.plus:hover:after {
  border-top-color: #6592e6;
  border-bottom-color: #6592e6;
}
.xdsoft_datetimepicker .xdsoft_calendar td.xdsoft_default,
.xdsoft_datetimepicker .xdsoft_calendar td.xdsoft_current,
.xdsoft_datetimepicker .xdsoft_timepicker .xdsoft_time_box > div > div.xdsoft_current {
  color: #ffffff !important;
  background-color: #6592e6 !important;
  box-shadow: none !important;
}
.xdsoft_datetimepicker .xdsoft_calendar td:hover,
.xdsoft_datetimepicker .xdsoft_timepicker .xdsoft_time_box > div > div:hover {
  color: #000000 !important;
  background: #ff6666 !important;
  box-shadow: none !important;
}
.lazy-bg {
  background-image: none !important;
}
.lazy-placeholder:not(section),
.lazy-none {
  display: block;
  position: relative;
  padding-bottom: 56.25%;
  width: 100%;
  height: auto;
}
iframe.lazy-placeholder,
.lazy-placeholder:after {
  content: '';
  position: absolute;
  width: 200px;
  height: 200px;
  background: transparent no-repeat center;
  background-size: contain;
  top: 50%;
  left: 50%;
  transform: translateX(-50%) translateY(-50%);
  background-image: url("data:image/svg+xml;charset=UTF-8,%3csvg width='32' height='32' viewBox='0 0 64 64' xmlns='http://www.w3.org/2000/svg' stroke='%236592e6' %3e%3cg fill='none' fill-rule='evenodd'%3e%3cg transform='translate(16 16)' stroke-width='2'%3e%3ccircle stroke-opacity='.5' cx='16' cy='16' r='16'/%3e%3cpath d='M32 16c0-9.94-8.06-16-16-16'%3e%3canimateTransform attributeName='transform' type='rotate' from='0 16 16' to='360 16 16' dur='1s' repeatCount='indefinite'/%3e%3c/path%3e%3c/g%3e%3c/g%3e%3c/svg%3e");
}
section.lazy-placeholder:after {
  opacity: 0.5;
}
body {
  overflow-x: hidden;
}
a {
  transition: color 0.6s;
}
.cid-scHAhMMaxR {
  padding-top: 5rem;
  padding-bottom: 5rem;
  background-color: #f8f8fb;
}
.cid-scHAhMMaxR .Example-styles-module--tags--gGsfE {
  box-sizing: border-box;
  text-align: center;
  margin-top: -2rem;
}
.cid-scHAhMMaxR span {
  background-attachment: scroll;
  background-clip: border-box;
  background-color: #1E1E3F;
  background-image: none;
  background-origin: padding-box;
  background-position: 0 0;
  background-repeat: repeat;
  background-size: auto;
  border-radius: 2rem;
  box-sizing: border-box;
  color: #FFFFFF;
  font-size: 10px;
  font-weight: 500;
  padding: .25rem .5rem;
  text-transform: uppercase;
  vertical-align: middle;
}
.cid-scHAhMMaxR .Example-styles-module--perspective--2dydy.examples-p-module--no1--1rMtQ {
  border: 1px solid;
  border-color: #D5DCE2 #D5DCE2 #B8C2CC;
  border-image: none 100% 1 0 stretch;
  border-radius: 10px;
  box-shadow: rgba(22, 31, 39, 0.42) 0 60px 123px -25px, rgba(19, 26, 32, 0.08) 0 35px 75px -35px;
  box-sizing: border-box;
  height: 25vmin;
  transform: perspective(75em) rotateX(18deg);
  width: 30vmin;
  margin-left: auto;
  margin-right: auto;
  margin-top: 1.5em;
  margin-bottom: 1.5em;
}
.cid-scHAhMMaxR .Example-styles-module--perspective--2dydy.examples-p-module--no2--1HNSK {
  background-attachment: scroll;
  background-clip: border-box;
  background-color: transparent;
  background-image: linear-gradient(135deg, #f4dabf 50%, #1e5f75 50.1%);
  background-origin: padding-box;
  background-position: 0 0;
  background-repeat: repeat;
  background-size: auto;
  border-radius: 1rem;
  box-shadow: rgba(0, 0, 0, 0.25) 0 25px 50px -12px;
  box-sizing: border-box;
  height: 30vmin;
  margin-left: auto;
  margin-right: auto;
  margin-top: 1.5em;
  margin-bottom: 1.5em;
  transform: perspective(1500px) rotateY(15deg);
  transition: transform 1s,transform 1s;
  width: 30vmin;
}
.cid-scHAhMMaxR .Example-styles-module--perspective--2dydy.examples-p-module--no2--1HNSK:hover {
  transform: perspective(3000px) rotateY(5deg);
}
.cid-scHAhMMaxR .Example-styles-module--perspective--2dydy.examples-p-module--no3--19M9A {
  background-attachment: scroll;
  background-clip: border-box;
  background-color: #1D1F20;
  background-image: linear-gradient(90deg, rgba(55, 55, 255, 0.4) 1px, transparent 0), linear-gradient(rgba(55, 55, 255, 0.4) 1px, transparent 0);
  background-origin: padding-box;
  background-position: 50% center;
  background-repeat: repeat;
  background-size: 16px 16px;
  border: 1px solid #2B2B2B;
  border-image: none 100% 1 0 stretch;
  border-radius: .5em;
  box-shadow: rgba(0, 0, 0, 0.5) 2em 4em 6em -2em, rgba(0, 0, 0, 0.5) 1em 2em 3.5em -2.5em;
  box-sizing: border-box;
  height: 15vmin;
  margin-left: auto;
  margin-right: auto;
  margin-top: 1.5em;
  margin-bottom: 1.5em;
  transform: rotate3d(0.5, -0.866, 0, 15deg) rotate(1deg);
  transition: transform 0.4s, box-shadow 0.4s, transform 0.4s;
  width: 30vmin;
  will-change: transform;
}
.cid-scHAhMMaxR .Example-styles-module--perspective--2dydy.examples-p-module--no3--19M9A:hover {
  transform: rotate3d(0, 0, 0, 0deg) rotate(0deg);
}
.cid-scHAhMMaxR .Example-styles-module--perspective--2dydy.examples-p-module--no4--24IBm {
  background-attachment: scroll;
  background-clip: border-box;
  background-color: #F0EEF0;
  background-image: none;
  background-origin: padding-box;
  background-position: 0 0;
  background-repeat: repeat;
  background-size: auto;
  border-radius: 4px;
  box-shadow: rgba(0, 0, 0, 0.024) 0 0 0 1px, rgba(0, 0, 0, 0.05) 0 1px 0 0, rgba(0, 0, 0, 0.03) 0 0 8px 0, rgba(0, 0, 0, 0.1) 0 20px 30px 0;
  box-sizing: border-box;
  height: 20vmin;
  margin-left: auto;
  margin-right: auto;
  margin-top: 1.5em;
  margin-bottom: 1.5em;
  transform: perspective(800px) rotateY(-8deg);
  transition: transform 1s,transform 1s;
  width: 30vmin;
}
.cid-scHAhMMaxR .Example-styles-module--perspective--2dydy.examples-p-module--no4--24IBm:hover {
  transform: perspective(800px) rotateY(-4deg);
}
.cid-scHAhMMaxR .Example-styles-module--perspective--2dydy.examples-p-module--no5--3jLvd {
  background-image: linear-gradient(90deg, rgba(55, 55, 255, 0.2) 1px, transparent 0), linear-gradient(rgba(55, 55, 255, 0.2) 1px, transparent 0);
  background-position: 50% center;
  background-size: 16px 16px;
  border-radius: 2px;
  box-shadow: rgba(0, 0, 0, 0.08) 24px 16px 64px 0;
  box-sizing: border-box;
  height: 25vmin;
  margin-left: auto;
  margin-right: auto;
  margin-top: 1.5em;
  margin-bottom: 1.5em;
  transform: perspective(1000px) rotateX(4deg) rotateY(-16deg) rotate(4deg);
  width: 17vmin;
}
.cid-scHAhMMaxR .Example-styles-module--perspective--2dydy.examples-p-module--no6--271tX {
  background-color: #FFFFFF;
  border-radius: 32px;
  box-shadow: #f9f9fb 1px 1px 0 1px, rgba(34, 33, 81, 0.01) -1px 0 28px 0, rgba(34, 33, 81, 0.25) 28px 28px 28px 0;
  box-sizing: border-box;
  height: 25vmin;
  margin-left: auto;
  margin-right: auto;
  margin-top: 1.5em;
  margin-bottom: 1.5em;
  transform: rotateX(51deg) rotateY(0deg) rotate(43deg);
  transform-style: preserve-3d;
  transition: transform 0.4s ease-in-out, box-shadow 0.4s ease-in-out;
  width: 13vmin;
  will-change: transform;
}
.cid-scHAhMMaxR .Example-styles-module--perspective--2dydy.examples-p-module--no6--271tX:hover {
  box-shadow: #f9f9fb 1px 1px 0 1px, rgba(34, 33, 81, 0.01) -1px 0 28px 0, rgba(34, 33, 81, 0.15) 54px 54px 28px -10px;
  transform: translate3d(0, -16px, 0) rotateX(51deg) rotateY(0deg) rotate(43deg);
}
.cid-scHAhMMaxR .Example-styles-module--perspective--2dydy.examples-p-module--no7--3LzDq {
  background-attachment: scroll;
  background-clip: border-box;
  background-color: #0B0B0F;
  background-image: linear-gradient(90deg, rgba(55, 55, 255, 0.4) 1px, transparent 0), linear-gradient(rgba(55, 55, 255, 0.4) 1px, transparent 0);
  background-origin: padding-box;
  background-position: 50% center;
  background-repeat: repeat;
  background-size: 16px 16px;
  border-radius: 5px;
  box-sizing: border-box;
  height: 18vmin;
  margin-left: auto;
  margin-right: auto;
  margin-top: 1.5em;
  margin-bottom: 1.5em;
  transform: perspective(2000px) translate3d(0, -66px, 198px) rotateX(-55deg) scale3d(0.86, 0.75, 1) translateY(50px);
  transition: transform 0.4s ease-in-out;
  width: 30vmin;
  will-change: transform;
}
.cid-scHAhMMaxR .Example-styles-module--perspective--2dydy.examples-p-module--no7--3LzDq:hover {
  transform: scaleX(1);
}
.cid-scHAhMMaxR .Example-styles-module--perspective--2dydy.examples-p-module--no8--LIi45 {
  background-attachment: scroll;
  background-clip: border-box;
  background-color: #FFFFFF;
  background-image: none;
  background-origin: padding-box;
  background-position: 0 0;
  background-repeat: repeat;
  background-size: auto;
  border: 5px solid #E6E6E6;
  border-image: none 100% 1 0 stretch;
  border-radius: 20px;
  box-shadow: rgba(0, 0, 0, 0.2) 0 70px 40px -20px;
  box-sizing: border-box;
  height: 18vmin;
  margin-left: auto;
  margin-right: auto;
  margin-top: 1.5em;
  margin-bottom: 1.5em;
  transform: perspective(750px) translateZ(-250px) rotateX(27deg) scale(0.9);
  transition: transform 0.4s ease-in-out;
  width: 30vmin;
}
.cid-scHAhMMaxR .Example-styles-module--perspective--2dydy.examples-p-module--no8--LIi45:hover {
  transform: translateZ(-250px);
}
.cid-scHAhMMaxR .Example-styles-module--perspective--2dydy.examples-p-module--no9--3fWto {
  background-attachment: scroll;
  background-clip: border-box;
  background-color: #181818;
  background-image: linear-gradient(90deg, rgba(55, 55, 255, 0.4) 1px, transparent 0), linear-gradient(rgba(55, 55, 255, 0.4) 1px, transparent 0);
  background-origin: padding-box;
  background-position: -1px -1px;
  background-repeat: repeat;
  background-size: 16px 16px;
  border: 1px solid #2B2B2B;
  border-image: none 100% 1 0 stretch;
  border-radius: 6px;
  box-sizing: border-box;
  height: 17vmin;
  margin-left: auto;
  margin-right: auto;
  margin-top: 1.5em;
  margin-bottom: 1.5em;
  transform: perspective(600px) rotateX(20deg);
  width: 34vmin;
}
.cid-scHAhMMaxR .Example-styles-module--perspective--2dydy.examples-p-module--no10--1l1Df {
  background-attachment: scroll;
  background-clip: border-box;
  background-color: transparent;
  background-image: linear-gradient(#eba65b 30%, #d99267);
  background-origin: padding-box;
  background-position: 0 0;
  background-repeat: repeat;
  background-size: auto;
  box-shadow: #555555 0 20px 100px;
  box-sizing: border-box;
  height: 25vmin;
  margin-left: auto;
  margin-right: auto;
  margin-top: 1.5em;
  margin-bottom: 1.5em;
  transform: perspective(900px) rotateX(60deg) scale(0.7);
  transition: all .5s;
  width: 14vmin;
}
.cid-scHAhMMaxR .Example-styles-module--perspective--2dydy.examples-p-module--no10--1l1Df:hover {
  transform: rotate(0deg) scale(1) translateY(10px);
}
.cid-scHAhMMaxR .Example-styles-module--perspective--2dydy.examples-p-module--no11--34XOc {
  background-attachment: scroll;
  background-clip: border-box;
  background-color: #FBE806;
  background-image: none;
  background-origin: padding-box;
  background-position: 0 0;
  background-repeat: repeat;
  background-size: auto;
  box-shadow: rgba(0, 0, 0, 0.25) 1rem 1rem 2rem;
  box-sizing: border-box;
  height: 25vmin;
  margin-left: auto;
  margin-right: auto;
  margin-top: 1.5em;
  margin-bottom: 1.5em;
  position: relative;
  transform: scale(0.75) rotateY(-30deg) rotateX(45deg) translateZ(4.5rem);
  transform-origin: 50% 100% 0;
  transform-style: preserve-3d;
  transition: transform .6s;
  width: 16vmin;
}
.cid-scHAhMMaxR .Example-styles-module--perspective--2dydy.examples-p-module--no11--34XOc:before {
  border: 5px solid #F96B59;
  border-image: none 100% 1 0 stretch;
  content: " ";
  display: block;
  height: 100%;
  left: 0;
  position: absolute;
  top: 0;
  transform: translateZ(4rem);
  transition: transform .6s;
  width: 100%;
}
.cid-scHAhMMaxR .Example-styles-module--perspective--2dydy.examples-p-module--no11--34XOc:after {
  background-attachment: scroll;
  background-clip: border-box;
  background-color: #F96B59;
  background-image: none;
  background-origin: padding-box;
  background-position: 0 0;
  background-repeat: repeat;
  background-size: auto;
  box-shadow: rgba(0, 0, 0, 0.25) 1rem 1rem 2rem;
  content: " ";
  display: block;
  height: 100%;
  left: 0;
  position: absolute;
  top: 0;
  transform: translateZ(-4rem);
  transition: transform .6s;
  width: 100%;
}
.cid-scHAhMMaxR .Example-styles-module--perspective--2dydy.examples-p-module--no11--34XOc:hover {
  transform: scale(1);
}
.cid-scHAhMMaxR .Example-styles-module--perspective--2dydy.examples-p-module--no11--34XOc:hover:before {
  transform: translateZ(0);
}
.cid-scHAhMMaxR .Example-styles-module--perspective--2dydy.examples-p-module--no11--34XOc:hover:after {
  transform: translateZ(-1px);
}
.cid-scHAhMMaxR .Example-styles-module--perspective--2dydy.examples-p-module--no12--3cdrb {
  background-attachment: scroll;
  background-clip: border-box;
  background-color: #333232;
  background-image: none;
  background-origin: padding-box;
  background-position: 0 0;
  background-repeat: repeat;
  background-size: auto;
  border-radius: 1em;
  box-shadow: rgba(0, 0, 0, 0.25) 0 0.125em 0.3125em, rgba(0, 0, 0, 0.25) 0 0.02125em 0.06125em;
  box-sizing: border-box;
  height: 30vmin;
  margin-left: auto;
  margin-right: auto;
  margin-top: 1.5em;
  margin-bottom: 1.5em;
  perspective: 600px;
  position: relative;
  width: 16vmin;
}
.cid-scHAhMMaxR .Example-styles-module--perspective--2dydy.examples-p-module--no12--3cdrb:before {
  background-attachment: scroll;
  background-clip: border-box;
  background-color: #333232;
  background-image: linear-gradient(rgba(0, 0, 0, 0.1) 50%, rgba(0, 0, 0, 0.4));
  background-origin: padding-box;
  background-position: 0 0;
  background-repeat: repeat;
  background-size: auto;
  border-radius: 0 0 1em 1em;
  content: " ";
  height: 50%;
  left: 0;
  position: absolute;
  top: 50%;
  transform: rotateX(180deg);
  transform-origin: center top 0;
  transition: transform 0.7s ease-in-out;
  width: 100%;
}
.cid-scHAhMMaxR .Example-styles-module--perspective--2dydy.examples-p-module--no12--3cdrb:after {
  background-attachment: scroll;
  background-clip: border-box;
  background-color: transparent;
  background-image: linear-gradient(0deg, rgba(0, 0, 0, 0.1), rgba(0, 0, 0, 0.1) 50%, rgba(0, 0, 0, 0.4) 0, rgba(0, 0, 0, 0.1));
  background-origin: padding-box;
  background-position: 0 0;
  background-repeat: repeat;
  background-size: auto;
  border-radius: 1em;
  content: " ";
  height: 100%;
  left: 0;
  position: absolute;
  top: 0;
  transform-origin: center top 0;
  width: 100%;
}
.cid-scHAhMMaxR .Example-styles-module--perspective--2dydy.examples-p-module--no12--3cdrb:hover:before {
  transform: rotateX(0deg);
}
.cid-scHAhMMaxR .Example-styles-module--perspective--2dydy.examples-p-module--no13--27oLH {
  background-attachment: scroll;
  background-clip: border-box;
  background-color: transparent;
  background-image: linear-gradient(325deg, #3f5efb, #fc466b);
  background-origin: padding-box;
  background-position: 0 0;
  background-repeat: repeat;
  background-size: auto;
  border-radius: 2rem;
  box-sizing: border-box;
  filter: blur(2px);
  height: 30vmin;
  margin-left: auto;
  margin-right: auto;
  margin-top: 2.5em;
  margin-bottom: 1.5em;
  transform: perspective(800px) rotateY(25deg) scale(0.9) rotateX(10deg);
  transition: all .6s;
  width: 30vmin;
}
.cid-scHAhMMaxR .Example-styles-module--perspective--2dydy.examples-p-module--no13--27oLH:hover {
  filter: blur(0);
  opacity: 1;
  transform: perspective(800px) rotateY(-15deg) translateY(-50px) rotateX(10deg) scale(1);
}
